<BsNavBar AsHeader="true" OffCanvas="true" Expand="BsExpand.Large"
		  ContainerLayout="BsExpand.ExtraExtraLarge"
		  ContainerClass="flex-wrap flex-lg-nowrap">
	<BsNavBrand Class="p-0 me-0 me-lg-2">브랜드</BsNavBrand>
	<div class="d-flex">
		<BsToggle Class="d-flex d-lg-none order-3 p-2" />
	</div>
	<BsOffCanvas Responsive="BsExpand.Large" Placement="BsPlacement.End" Class="flex-grow-1">
		<TagHeader Class="px-4 pb-0">
			헤더 메시지
		</TagHeader>
		<TagContent Class="p-4 pt-0 p-lg-0">
			<BsNav Class="flex-row flex-wrap">
				<BsDivider Class="d-lg-none text-white-50" />
				<BsNavLink Class="col-6 col-lg-auto" Link="">Home</BsNavLink>
				<BsNavLink Class="col-6 col-lg-auto" Link="counter">Counter</BsNavLink>
				<BsNavLink Class="col-6 col-lg-auto" Link="testblazor">Test Blazor</BsNavLink>
				<BsNavLink Class="col-6 col-lg-auto" Link="#">그냥 링크</BsNavLink>
				<BsDivider Class="d-lg-none" />
				<BsNavLink Class="col-6 col-lg-auto" Enabled="false">DISABLED</BsNavLink>
				<BsDropDown Class="col-12 col-lg-auto">
					<BsToggle>드랍다운</BsToggle>
					<BsDropMenu>
						<TagSpan Variant="BsVariant.Warning">드랍다운도 되나보다</TagSpan>
						<BsDivider />
						<BsNavLink Link="">Home</BsNavLink>
						<BsNavLink Link="counter">Counter</BsNavLink>
						<BsNavLink Link="testblazor">Test Blazor</BsNavLink>
					</BsDropMenu>
				</BsDropDown>
			</BsNav>
		</TagContent>
	</BsOffCanvas>
</BsNavBar>

@code {

}
