@* 기본적으로 그룹은 DIV임. 다만 버튼 그룹과 혼용 가능(즉 똑같삼) *@
@namespace DuLib.Blazor
@inherits DuGroupBase

<div @ref="RootElement"
     @attributes="UserAttributes"
     style="@CssStyle.Result"
     class="@CssClass.Result"
     role="@Role"
     id="@Id">
    @ChildContent
</div>

@code {
    /// <summary>컴포넌트 크기. <see cref="ComponentSize"/> 참고</summary>
    [Parameter] public ComponentSize Size { get; set; }

    //
    protected override void OnCssClass()
    {
        CssClass
            .Add(Layout switch
            {
                GroupLayout.Button or
                GroupLayout.HorizontalButton or
                GroupLayout.VerticalButton or
                GroupLayout.ToolbarButton => Size.ToCss("btn-group"),
                _ => null,
            });
    }
}
