:root {
	// dulib 기본값
	--du-serif: "Malgun Gothic","Segoe UI","Apple SD Gothic Neo","Helvetica Neue","Noto Sans",Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol","Apple Color Emoji","Noto Color Emoji";
	// 밝은 테마
	--du-light-body-bg: #fff;
	--du-light-body-color: #212529;
	// 어둔 테마
	--du-dark-body-bg: #212529;
	--du-dark-body-color: #fff;
	// bootstrap 덮어쓰기
	--bs-font-sans-serif: var(--du-serif);
}

$du-spscf: 0.5rem;
$du-font-name: var(--du-font);
$du-font-size: 1rem;

@function strip($value) {
	@return $value / ($value * 0 + 1);
}

@function em($px, $font-size: $du-font-size) {
	@return #{ strip($px) / strip($font-size) }em;
}

@function rem($px) {
	@return #{ strip($px) / strip($du-font-size) }rem;
}

@function spacing($space) {
	@return calc(#{ $du-spscf } * #{ $space });
}
