.cursor-pointer {
	cursor: pointer;
}

.flex-flow-column {
	flex-flow: column;
}

.flex-flow-column-reverse {
	flex-flow: column-reverse;
}

.flex-flow-row {
	flex-flow: row;
}

.flex-flow-row-reverse {
	flex-flow: row-reverse;
}
