.cursor-pointer {
	cursor: pointer;
}

.ff-column {
	flex-flow: column;
}

.ff-column-reverse {
	flex-flow: column-reverse;
}

.ff-row {
	flex-flow: row;
}

.ff-row-reverse {
	flex-flow: row-reverse;
}
