@inherits ComponentContent

<span class="@CssClass" @attributes="UserAttrs">
	@ChildContent
</span>

@code {
	[Parameter] public TagColor? Fore { get; set; }
	[Parameter] public TagColor? Back { get; set; }
	[Parameter] public BadgeLayout? Layout { get; set; }

	//
	protected override void OnComponentClass(CssCompose css)
	{
		css
			.Add("badge")
			.Add((Fore ?? DefaultSettings.Fore).ToCss("text"))
			.Add((Back ?? DefaultSettings.Back).ToCss("bg"))
			.Add((Layout ?? DefaultSettings.Layout) switch
			{
				BadgeLayout.Pill => "rounded-pill",
				BadgeLayout.Circle => "rounded-circle",
				_ => null
			})
			.Add(DefaultSettings.AdditionalCss);
	}
}
