@inherits ComponentContent

<div role="@Layout.ToCss()" class="@CssClass" id="@Id" @attributes="UserAttrs">
	@*<CascadingValue Value="this" IsFixed="true">*@
	@ChildContent
	@*</CascadingValue>*@
</div>

@code {
	/// <summary>버튼 그룹 형식</summary>
	[Parameter] public GroupLayout Layout { get; set; }
	/// <summary>컴포넌트 크기. <see cref="ComponentSize" /> 참고</summary>
	[Parameter] public ComponentSize Size { get; set; }

	//
	protected override void OnComponentClass(CssCompose css)
	{
		css
			.Add(Layout switch
			{
				GroupLayout.Button => "btn-group",
				GroupLayout.Vertical => "btn-group-vertical",
				GroupLayout.Toolbar => "btn-toolbar",
				_ => null,
			})
			.Add(Size.ToCss("btn-group"));
	}
}
