@inherits DropItem

<li class="@ContainerClass">
	<a role="button" class="@CssClass" @attributes="UserAttrs"
	   @onmousedown="HandleOnClickAsync"
	   @onmousedown:stopPropagation="true">
		@Text
		@ChildContent
	</a>
</li>

@code {
	//
	protected override string CssName => "dropdown-item";
}
