@inherits DropItem

<li class="@ListClass">
	<span role="button" class="@CssClass" @attributes="UserAttrs"
		  @onmousedown="HandleOnClickAsync"
		  @onmousedown:stopPropagation="true">
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else
		{
			@Title
		}
	</span>
</li>

@code {
	//
	protected override string CssName => "dropdown-item";
}
