@inherits DropItem

<li class="@ContainerClass">
	<a role="button" class="@CssClass" @attributes="UserAttrs"
	   @onmousedown="HandleOnClickAsync"
	   @onmousedown:stopPropagation="true">
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else
		{
			@Title
		}
	</a>
</li>

@code {
	//
	protected override string CssName => "dropdown-item";
}
