@inherits ComponentObject

<li class="@ListClass">
	<hr class="@CssClass" @attributes="UserAttrs" />
</li>

@code {
	[CascadingParameter] public DropDown? Group { get; set; }

	[Parameter] public string? ListClass { get; set; }

	//
	protected override string CssName => "dropdown-divider";
}
