@inherits ComponentParent

<li class="@ListClass">
	<hr @ref="@RootElement"
	    class="@CssClass"
	    @attributes="UserAttrs" />
</li>

@code {
	[CascadingParameter] public DropDown? Group { get; set; }

	[Parameter] public string? ListClass { get; set; }

	protected override string RootClass => "dropdown-divider";
}
