@inherits DropItem

<li class="@ContainerClass">
	<span class="@CssClass" @attributes="UserAttrs"
		  @onmousedown="HandleOnClickAsync" @onmousedown:stopPropagation="true">
		@Text
		@ChildContent
	</span>
</li>

@code {
	//
	protected override string CssName => "dropdown-item-text";
}
