@inherits DuComponentParent
@implements IDisposable

<div @ref="RootElement"
     @attributes="UserAttrs"
     style="@CssStyle.Result"
     class="@CssClass.Result"
     id="@Id">
	@ChildContent
</div>

@code {
	[CascadingParameter]
	public DuGroupCarousel? Group { get; set; }

	[Parameter]
	public bool Active { get; set; }

	[Parameter]
	public double? Interval { get; set; }

	protected override string RootName => RootNames.carousel_item;
	protected override string RootId => RootIds.carousel;

	private bool _disposed;

	//
	protected override void OnComponentInitialized()
	{
		Group?.AddItem(this);
	}

	//
	protected override void OnComponentCss()
	{
		CssClass
			.Add(() => Active.IfTrue(CssConsts.active));
	}

	//
	public void Dispose()
	{
		if (_disposed)
			return;

		Group?.RemoveItem(this);

		_disposed = true;
	}
}