@inherits ComponentContent

<nav class="@CssClass" id="@Id" @attributes="UserAttrs">
	<div class="@ContainerCssClass">
		<CascadingValue Value="this" IsFixed="true" Name="NavBar">
			@ChildContent
		</CascadingValue>
	</div>
</nav>

@code
{
	// 나브
	[Parameter] public NavBarExpand Expand { get; set; } = NavBarExpand.Large;
	[Parameter] public TagColor Color { get; set; } = TagColor.None;

	// 컨테이너
	[Parameter] public string? ContainerClass { get; set; }
	[Parameter] public NavContainerLayout ContainerLayout { get; set; } = NavContainerLayout.Fluid;

	//
	public string CollapseId => Id + "_collapse";
	public string? ToggleId { get; set; }

	//
	private string? ContainerCssClass => CssCompose.Join(ContainerLayout.ToCss(), ContainerClass);

	//
	protected override void OnComponentClass(CssCompose css)
	{
		css
			.Add("navbar")
			.Add(Expand.ToCss())
			.Add(Color.ToCss("bg"));
	}
}
