@inherits ComponentContent

<a class="@CssClass" href="@Link">
	@ChildContent
</a>

@code
{
	/// <summary>브랜드를 눌렀을 때 이동할 링크</summary>
	[Parameter] public string? Link { get; set; }

	//
	protected override void OnComponentClass(CssCompose css) =>
		css.Add("navbar-brand");
}
