@inherits ComponentFragment

<div @ref="_self" class="@CssClass" tabindex="-1" id="@Id" data-bs-backdrop="@ActualBackDrop.ToBootStrap()">
	@if (_expanded || Always || Responsive != TagDimension.None)
	{
		<CascadingValue Value="this" IsFixed="true">
			@ChildContent
		</CascadingValue>
	}
</div>

@code {
}
