@inherits ComponentContent

<button @ref="_self"
        type="button"
        class="@CssClass"
        data-bs-toggle="dropdown"
        data-bs-auto-close="@AutoClose.ToCss()"
        aria-expanded="false"
        @attributes="@UserAttrs">
	@Text
	@ChildContent
</button>


@code {
	[Parameter] public string? Text { get; set; }

	[CascadingParameter] public ComponentContent? Parent { get; set; }
	[Parameter] public DropAutoClose AutoClose { get; set; }

	private ElementReference _self;
}
