@inherits ComponentContent

@if (Parent is not null)
{
	<li>
		<div class="@CssClass" @attributes="@UserAttrs">
			@Text
			@ChildContent
		</div>
	</li>
}
else
{
	<div class="@CssClass" @attributes="@UserAttrs">
		@Text
		@ChildContent
	</div>
}

@code {
	[Parameter] public string? Text { get; set; }

	[CascadingParameter] public ComponentContent? Parent { get; set; }
}
