.du-test-box {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 0 1rem 2rem 1rem;
  border: thick double #a9f27d;

  &.purple {
    border: 2px solid rebeccapurple;
  }

  &.blue {
    border: 2px solid blue;
  }
}

.ff-column {
  flex-flow: column;
}

.ff-column-reverse {
  flex-flow: column-reverse;
}

.ff-row {
  flex-flow: row;
}

.ff-row-reverse {
  flex-flow: row-reverse;
}

.border-none {
  border-style: none !important;
}

.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.cursor-pointer {
  cursor: pointer;
}

.block-flat {
  //display: inline-block;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-style: none;
  text-align: start;
}

.offcanvas-footer {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}
